#naslov {
    text-align: center;
    background-image: linear-gradient(gray, lightgray);
    padding: -5px -10px -10px;
    overflow: hidden;
    margin-top: -7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url("../slike/pozadina.jpg");
    background-size: cover;
    margin: 0px;
}

.pocetna {
    float: right;
    margin-right: 295px;
    margin-top: -54px;
}


.button {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: "Berlin Sans FB";
}

.karijera {
    float: right;
    margin-right: 190px;
    margin-top: -55px;
}

.login {

margin-top: -50px;
margin-left: 10px;


}

.ONama {
    float: right;
    margin-right: 60px;
    margin-top: -55px;
    cursor: pointer;
}

.ONama::after {
    content:'';
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}

.ONama:hover::after {
    content:'';
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
}


.karijera::after {
    content:'';
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}


.karijera:hover::after {
    content:'';
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
}

.login::after {
    content:'';
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}

.login:hover::after {
    content:'';
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}





.footer {
    background-color: lightslategray;
    color: white;

}
.tekst {
    margin-top: 700px;
    text-align: center;
    margin-bottom: -10px;
    padding: 30px;
    font-family: "Arial Rounded MT Bold";
}

.kontakt {
    text-align: center;
    margin-bottom: -10px;
    font-family: "Arial Rounded MT Bold";
    color: white;
}

.pocetna::after {
    content:'';
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}

.pocetna:hover::after {
    content:'';
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
}


.glavnaporuka {
    text-align: center;
    margin-top: 200px;
    font-size: 60px;
    font-family: "Rockwell";
    color: white;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(20px);
    }
}
